renovate.json
.github
src
tsconfig.json
webpack.config.js
webpack.analyzer.config.js
jest.config.js
.prettierrc.js
.eslintrc.js
.editorconfig
.gitignore
.npmignore
.eslintignore
.lintstagedrc
.stylelintrc
coverage
docs
*.tgz
brett-dorrans-cv.pdf
.idea
